			div.profile-page-photo-header
			{
				position: absolute;
				width: 850px;
				height: 70px;
				margin-left: 80px;
				margin-top: 50px;
				background-color: #FFFFFF;
				border-radius: 7px;
			}
			div.profile-page-photo
			{
				position: absolute;
				width: 850px;
				height: auto;
				margin-left: 80px;
				margin-top: 180px;
				background-color: #FFFFFF;
				border-radius: 7px;
			}
			img.sizing-photo
			{
				margin-left: 47px;
				margin-top: 40px;
			}